/* general settings */
body {
  margin: 0;
}

input[type="text"] {
  background: lightgray;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
}

#logo {
  margin-right: 3px;
}

#sub-heading {
  color: #69401b;
  font-size: 1.4em;
  font-weight: bold;
}

.park-name {
  color: darkolivegreen;
  margin-block-start: 0px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header {
    padding: 30px;
    background: rgb(85, 107, 47);
    color: #f7f7f7;
  }

  .header h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: "Cabin", sans-serif;
  }
  .container {
    font-family: "Raleway", sans-serif;
    padding: 30px;
  }

  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    color: rgb(52, 58, 52);
    border-radius: 10px;
  }
  .designation {
    margin-block-start: 0;
    font-size: 1em;
    font-style: italic;
  }
  .icon {
    font-size: 2em;
    margin-right: 10px;
    color: rgb(52, 58, 52);
  }
  li {
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-container {
    display: flex;
    margin-top: 30px;
  }
  .hidden {
    display: none;
  }

  .button {
    flex-grow: 1;
    color: white;
    padding: 10px 20px;
    background-color: #69401b;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 20px;
  }

  .link-btn {
    text-decoration: none;
    color: wheat;
    background: #69401b;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  #error-message {
    color: red;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  #state {
    font-family: "Cabin", sans-serif;
    font-size: 1.5em;
    color: #69401b;
    margin: 40px 0 20px;
  }
  .icon-container {
    display: flex;
    flex-direction: row;
  }
  .description {
    line-height: 1.5em;
    margin-bottom: 2em;
  }
  .park-container {
    margin-bottom: 30px;
  }
}

/* mobile Landscape mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 1224px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .header {
    text-align: center;
    padding: 30px;
    background: rgb(85, 107, 47);
    color: #f7f7f7;
  }

  .container {
    font-family: "Raleway", sans-serif;
    padding: 10%;
  }

  .park-container {
    margin-bottom: 50px;
  }
  .link-btn {
    text-decoration: none;
    color: wheat;
    background: #69401b;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Open Sans Condensed", sans-serif;
  }
  .button {
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #69401b;
    font-size: 1em;
    border-radius: 5px;
  }

  .description {
    margin-bottom: 30px;
  }
  #state {
    font-family: "Cabin", sans-serif;
    font-size: 1.6em;
    color: #69401b;
    margin: 40px 0 20px;
  }
  .icon-container {
    display: flex;
    flex-direction: row;
  }
  .icon {
    font-size: 2em;
    margin-right: 10px;
    color: rgb(52, 58, 52);
  }

  li {
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

/* IPAD DISPLAY */

@media only screen and (min-device-width: 768px) and (max-device-width: 1224px) {
  .container {
    font-family: "Raleway", sans-serif;
    padding: 10%;
  }
  .icon {
    font-size: 2em;
    margin-right: 10px;
    color: rgb(52, 58, 52);
  }

  .description {
    font-size: 20px;
  }
  #form {
    width: 50%;
  }
  li {
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .results {
    color: rgb(53, 56, 55);
  }

  .hidden {
    display: none;
  }
}
/* iPad pro Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    padding: 30px;
    background: rgb(85, 107, 47);
    color: #f7f7f7;
    text-align: center;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
  }
  .link-btn {
    text-decoration: none;
    color: wheat;
    background: #69401b;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Open Sans Condensed", sans-serif;
  }
  .park-container {
    margin-bottom: 50px;
  }
  .description {
    margin-bottom: 30px;
  }
  .button {
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #69401b;
    font-size: 1em;
    border-radius: 5px;
  }
  #state {
    font-family: "Cabin", sans-serif;
    font-size: 1.5em;
    color: #69401b;
    margin: 50px 0 0 0px;
  }
}

/* DESKTOP DISPLAY */
@media only screen and (min-width: 1224px) {
  .header {
    padding: 30px;
    background: rgb(85, 107, 47);
    color: #f7f7f7;
    text-align: center;
  }
  .container {
    font-family: "Raleway", sans-serif;
    padding: 10%;
  }
  .park-container {
    margin-bottom: 30px;
  }
  #form {
    margin-top: 30px;
    width: 50%;
  }
  .icon {
    font-size: 2em;
    margin-right: 10px;
    color: rgb(52, 58, 52);
  }

  li {
    list-style-type: none;
  }

  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
  }
  .icon-container {
    display: flex;
    flex-direction: row;
  }
  .link-btn {
    text-decoration: none;
    color: wheat;
    background: #69401b;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  .button {
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #69401b;
    font-size: 1em;
    border-radius: 5px;
  }
  #state {
    font-family: "Cabin", sans-serif;
    font-size: 1.5em;
    color: #69401b;
    margin: 50px 0 0 0px;
  }
  .description {
    margin-bottom: 5%;
  }

  .hidden {
    display: none;
  }
}
